.App{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
}
.formStyle{
    padding: 20px;
    border: 1px solid black;
    width: 25%;
    text-align: center;
}
.form-control{
    border-color: black !important;
}
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .uploaded {
    margin-top: 20px;
  }
  
  .output-div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .inner-div {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust the spacing between PDF items */
    border: 1px solid #ccc;
    padding: 10px;
  }

  .no-pdf-message {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #555;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
